$bg-color: #07090A;
$dark-gray: #A7A7A7;
$blue: #3478ec;
$red: #b23333;
$bg-input: #252525;
$gondola: #333333;
$kelly-green: #4DAE00;
$kellyGreen: #4DAE00;
$bg-header-auth: #171717;
$texasRose: #FEB258;
$salmon: #F66F6F;
$coral: #CF4646;
$amaranth: #E83B50;
$linkWater: #D4D5D9;
$black: #000000;
$blackRussian: #181A1D;
$gray-lite: #909090;
$white: #FFFFFF;
$whiteBeige: #FAFAFA;
$anotherWhiteSmoke: #F8F8F8;
$solitude: #F9F9FC;
$dark-charcoal: #333333;
$whiteSmokeLight: #F3F3F3;
$whiteSmoke: #F0F0F0;
$whiteSmokeMedium: #EDEDED;
$whisper: #E4E4E4;
$silver: #BABABA;
$suva-grey: #909090;
$grey: #787878;
$gre43: #6E6E6E;
$shuttleGrey: #59606A;
$alabaster: #FBFBFB;
$lightShade: #DDDDDD;
$sapphire: #0D043C;
$RoyalBlue: #3478ec;
$blueViolet: #583BE8;
$mediumSlateBlue: #6B51EB;
$gainsboro: #E4E4E4;
$solitude: #F6F5FA;
$inputShadow: rgba(23, 37, 58, 0.08);
$cardShadow: rgba(24, 26, 29, 0.05);

$blue-violet: #583BE8;
$persian-blue: #3919D6;
$ultramarine: #2D14A9;
$persian-indigo: #210E7B;

$magnolia-light: #F2F0FE;
$magnolia: #E6E2FD;
$lavender-blue: #DAD4FC;

$font-size-xxs: 11px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 40px;

$font-normal: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
