@import '@/pages/auth/styles.module.scss';

.socials {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 36px 0;

  &__line {
    border-bottom: 1px solid $whisper;
    width: 100%;
  }

  &__or {
    color: $suva-grey;
    font-weight: $font-normal;
    font-size: $font-size-s;
    line-height: 20px;
  }
}

@media (max-width: 375px) {
  .divider {
    margin: 32px 0;
  }
}
